@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



html { 
font-size: 62.5%; /*to make rem corespond to px eg 1.2rem=12px*/
}

body {
font-size: 1.4rem;
color: rgb(2, 2, 2); 
background-color: #fff;
font-family: 'Open Sans', verdana, arial, sans-serif; 
font-size-adjust: 0.535; /*Making sure the otherfonts after Droid Sans (first font), get same size using x-height, see: http://www.brunildo.org/test/aspect-table.html*/
word-wrap: break-word; /*dont let text span outside divs when very long words eg urls*/
box-sizing: border-box; /*render boxes (divs) with apdding and border inside set witdh and height, this means you not longer need to adjust eg width when you make the border thicker. Support eg IE8 and IE9*/
}

.calc{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    background-color: #333;
    
}

.output{
    font-size: 2rem;
  color: #fff;
    padding: 4px;
    font-weight: 800;
    margin-left: 0px;
    margin-top: 10px;
    background-color: #89a47f;
    max-width: 442px;
}

.styled { 
    box-sizing: border-box;
    font-size: 2rem;
    text-indent: 45%; 
    color: #fff;
    width: 150px;
    height: 150px;
    border: 0px solid #389;
    background-color: #333;
}


a {
outline: none; /*removes dotted line around links*/
}


img {
border: none; /*removes default line around images*/
}


h1 {
font-size: 1.5rem;
}


h2 {
font-size: 1.2rem;
}


h3 {
font-size: 1.1rem;
}

.smalltext
{
	font-size: 0.8rem;
}

ul {
	line-height: 1.3rem;
	list-style: square outside url('images/li_dot.png');
	margin: 15px;
	padding: 0;
}

li {
  padding: 5px 0px 5px 0px;
  margin: 0px;
  border: 0px solid #009900;
}


a:link {color: #009900; text-decoration: none}
a:visited {color: #009900; text-decoration: none} 
a:hover {color: #009900; text-decoration: underline} 
a:active {color: #009900; text-decoration: none}